.tag{
    display: flex;
    justify-content: flex-end;
}

.challenge-header {
    position: relative;
    right: 0;
    top: 10px; /* Điều chỉnh top để căn chỉnh theo ý muốn */
  }
  
  .new-tag {
   
    color: #4CAF50; /* Màu xanh */
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #4CAF50;
    padding: 8px;
    border-radius: 5px;
  }
  .new-tag:hover{
    background: #4CAF50;
    color: #fff;
    cursor: pointer;
  }
  
  .new-tag i {
    margin-left: 5px; /* Khoảng cách giữa chữ "New" và icon */
    font-size: 16px;
  }
  